<%= form_for(@handicapping_method) do |f| %>
  <% if @handicapping_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@handicapping_method.errors.count, "error") %> prohibited this handicapping_method from being saved:</h2>

      <ul>
      <% @handicapping_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
